html,
body {
  height: 100%;
}
@font-face {
  font-family: myFirstFont;
  /* src: url('/cinderela/Cinderela Personal Use.ttf'); */
  src: url('/Sweet Sensations Personal Use.ttf');
}

body {
  font-family: myFirstFont, 'Slabo 27px', serif;
}
body {
  /* background: url('/bg1.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root nav {
  /* height: 100%; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit !important;
}

.one {
  padding: 0;
  margin-bottom: 1rem;
  height: calc(100% - 60px);
  /* overflow-y: auto; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-style {
  backdrop-filter: blur(10px);
  background-color: transparent;
  border: 1px solid #00000010;
  /* border: 1px solid #00000016; */
  /* box-shadow: 0 0 9px 5px #8e8e8e1f; */
  /* background-color: #00000026; */
  /* border: 2px dashed white; */
}

.p-relative {
  position: relative;
}
