html,
body {
  height: 100%;
}
body {
  font-family: 'Slabo 27px', serif;
}
body {
  background: url(bg6.jpg) no-repeat center center fixed;
  background-size: cover;
}
#root {
  height: 100%;
}
#root nav {
  height: 100%;
}

.one {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  height: calc(100% - 60px);
}

.box-style {
  backdrop-filter: blur(10px);
  box-shadow: 0 0 9px 5px #8e8e8e1f;
  background-color: #00000026;
  border: 2px solid #00000024;
}
